<div id="main-header">
  <h1 id="eatthis-header"><a href="/">EatThis</a></h1>
  <small id="head-bottom">We make the decision, so you don't have to</small>

    <%= erb :'_restaurant_selector' %>

</div>
